{% extends "base.html" %}
{% load cart_template_tags %}
{% block content %}
<!-- Navbar -->
<br><br><br><br>
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar pt-4">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand waves-effect" href="{% url 'orders:home' %}" target="_blank">
      <strong class="blue-text">LADY BIRD BOUTIQUE</strong>
    </a>
    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>
    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-effect" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'orders:checkout' %}" target="_blank">Checkout</a>
        </li>
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'orders:order-summary' %}">
            <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>
            <i class="fas fa-shopping-cart"></i>
            <span class="clearfix d-none d-sm-inline-block"> Cart </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'logout' %}">
            <span class="clearfix d-none d-sm-inline-block"> Logout </span>
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'login' %}">
            <span class="clearfix d-none d-sm-inline-block"> Login </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'signup' %}">
            <span class="clearfix d-none d-sm-inline-block"> Sign Up </span>
          </a>
        </li>
        {% endif %}

        <li class="nav-item">
          <a href="https://www.facebook.com/mdbootstrap" class="nav-link waves-effect" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com/MDBootstrap" class="nav-link waves-effect" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link border border-light rounded waves-effect"
            target="_blank">
            <i class="fab fa-github mr-2"></i>MDB GitHub
          </a>
        </li>
      </ul>

    </div>

  </div>
</nav>
<!-- Navbar -->
  <!--Main layout-->
  <main>
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Checkout form</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <form class="card-body" method="post">
              {%  csrf_token %}

              <h3>Shipping Address</h3>


            <div class="hideable_shipping_form">
                <!--address-->
              <div class="md-form mb-5">
                <br>
                <input type="text" id="shipping_address" name="shipping_address" class="form-control" placeholder="1234 Main St">
                <label for="shipping_address" class="">Shipping Address</label>
              </div>

              <!--address-2-->
              <div class="md-form mb-5">
                <br>
                <input type="text" id="shipping_address2" name="shipping_address2" class="form-control" placeholder="Apartment C12">
                <label for="shipping_address2" class="">Apartment Address</label>
              </div>

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                  <label for="country">Country</label>
                 
                  {{ form.shipping_country}}
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>

                </div>
                <!--Grid column-->

                

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="shipping_city">City</label>
                 
                  <input type="text" id="shipping_city" name="shipping_city" class="form-control" placeholder="eg Kampala">
                </div>
                <!--Grid column-->

              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="same_billing_address" name="same_billing_address">
               
                <label class="custom-control-label" for="same_billing_address">Billing address is the same as my shipping address</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="set_default_shipping" name="set_default_shipping">
               
                <label class="custom-control-label" for="set_default_shipping">Save as my default shipping address: Kampala</label>
              </div>
              
            </div>
              <!--Grid row-->
              
              {% if default_shipping_address %}
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="use_default_shipping" name="use_default_shipping">
               
                <label class="custom-control-label" for="use_default_shipping">Use my default shipping address: {{ default_shipping_address.street_address| truncatechars:10 }}</label>
              </div>
              {% endif %}




              <h3>Billing Address</h3>


          <div class="hideable_billing_form">
                <!--address-->
                <div class="md-form mb-5">
                  <br>
                  <input type="text" id="billing_address" name="billing_address" class="form-control" placeholder="1234 Main St">
                  <label for="billing_address" class="">Shipping Address</label>
                </div>
  
                <!--address-2-->
                <div class="md-form mb-5">
                  <br>
                  <input type="text" id="billing_address2" name="billing_address2" class="form-control" placeholder="Apartment C12">
                  <label for="billing_address2" class="">Apartment Address</label>
                </div>
  
                <!--Grid row-->
                <div class="row">
  
                  <!--Grid column-->
                  <div class="col-lg-4 col-md-12 mb-4">
  
                    <label for="country">Country</label>
                   
                    {{ form.billing_country}}
                    <div class="invalid-feedback">
                      Please select a valid country.
                    </div>
  
                  </div>
                  <!--Grid column-->
  
                  
  
                  <!--Grid column-->
                  <div class="col-lg-4 col-md-6 mb-4">
  
                    <label for="billing_city">City</label>
                   
                    <input type="text" id="billing_city" name="billing_city" class="form-control" placeholder="eg Kampala">
                  </div>
                  <!--Grid column-->
  
                </div>
              <!--Grid row-->
            </div>







            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="set_default_billing" name="set_default_billing">
             
              <label class="custom-control-label" for="set_default_billing">Save as my default billing address: Kampala</label>
            </div>

            <br> <br>


              {% if default_billing_address %}
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="use_default_billing" name="use_default_billing">
              
                <label class="custom-control-label" for="use_default_billing">Use my default billing address: {{ default_billing_address.street_address| truncatechars:10 }}</label>
              </div>
              {% endif %}
              <hr>


           <h4>Payment Option</h4>
              <div class="d-block my-3">
                {% for value, name in form.fields.payment_option.choices %}
                <div class="custom-control custom-radio">
                  <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="{{ name }}"> {{ name }}</label>
                </div>
                {% endfor %}
                <!-- <div class="custom-control custom-radio">
                  <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="debit">Adyen</label>
                </div>
                <div class="custom-control custom-radio">
                  <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="paypal">Paypal</label>
                </div> -->
              </div>
              
              
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Promotion Code</span>
          </h4>

          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-1">
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Promo Code</h6>
                <small>{{ order.coupon.code }}</small>
              </div>
              <span class="text-success">-$ {{ order.coupon.amount }}</span>
            </li>
            
          <!-- Cart -->

          <!-- Promo code -->
          <form class="card p-2" method="POST" action="{% url 'orders:coupon' %}">
            {% csrf_token %}
            <div class="input-group">
              {{ couponform.code }}
              <div class="input-group-append">
                <button class="btn btn-secondary btn-md waves-effect m-0" type="submit">Redeem</button>
              </div>
            </div>
          </form>
          <!-- Promo code -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->
  {% endblock %}

{% block javascript %}
<script>

var hideable_shipping_form = $('.hideable_shipping_form');
var  hideable_billing_form = $('.hideable_billing_form');

var use_default_shipping = document.querySelector("input[name = use_default_shipping]");
var use_default_billing = document.querySelector("input[name = use_default_billing]");

use_default_shipping.addEventListener('change', function(){
  if (this.checked) {
    hideable_shipping_form.hide();
  } else{
    hideable_shipping_form.show();
  }
})

use_default_billing.addEventListener('change', function(){
  if (this.checked) {
    hideable_billing_form.hide();
  } else{
    hideable_billing_form.show();
  }
})

</script>
{% endblock javascript %}
</body>
</html>
