<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In Page</title>
</head>
<body>
    <h1>Login Page</h1>
    <div>
        {% for message in messages %}
            <h3 style="color: red;">{{ message }}</h3>
        {% endfor %}
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <tr>
            <td>Enter Username: </td>
            <td><input type="text" name="Username"></td>
        </tr>
        <br>
        <br>
        <br>
        <br>
        <tr>
            <td>Enter Password: </td>
            <td><input type="password" name="Password"></td>
        </tr>
        <br>
        <br>
        <br>
        <br>
        <button type="submit">Log In</button>
    </form>
    <div>
        <h3>Don't have an account? <a href="/customers/signup">Sign Up</a></h3>
    </div>
</body>
</html>