{% extends "base.html" %}
<body>
{% block content %}
<h2>Order Summary</h2>
<table class="table">
    <thead>
        <tr>
            <th>#</th>    
            <th>Item Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Item Price</th>
        </tr>
    </thead>
    <tbody>
        {% for order_item in object.items.all %}
        <tr>
            <td scope="row">{{ forloop.counter }}</td>
            <td>{{ order_item.item.title }}</td>
            <td>{{ order_item.item.price }}</td>
            <td>
                <a href="{% url 'orders:remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus"></i></a>
                {{ order_item.quantity }}
                <a href="{% url 'orders:add_to_cart' order_item.item.slug %}"><i class="fas fa-plus"></i></td></a>
            <td>
                {% if order_item.item.discount_price %}
                    Shs.{{ order_item.get_total_discount_item_price}}
                    (Saving Shs.{{ order_item.get_amount_saved }})
                {% else %}
                    Shs.{{ order_item.get_total_item_price}}
                {% endif %}
                <a href="{% url 'orders:remove_from_cart' order_item.item.slug %}">
                    <i class="fas fa-trash float-right"></i>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Your Cart is empty</td>
        </tr>
        <tr>
            <td><a href=""><a class="btn btn-blue float-right" href="/orders/">Continue Shopping</a></a></td>
        </tr>

        {% endfor %}

        {% if object.coupon %}
        <tr>
            <td colspan="4">Coupon</td>
            <td>-Shs. {{ object.coupon.amount }}</td>
        </tr>
        {% endif %}

        {% if object.get_total %}
        <tr>
            <td colspan="4">Total Amount</td>
            <td>Shs. {{ object.get_total }}</td>
        </tr>
        <tr>
            <td colspan="5"><a class="btn btn-blue float-right" href="{% url 'orders:home' %}">Continue Shopping</a></td>
            <td colspan="5"><a class="btn btn-amber float-right" href="{% url 'orders:checkout' %}">Proceed to Checkout</a></td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}
</body>