{% extends "base.html" %}
<body>
{% block content %}
<h2>Order Summary</h2>
<table class="table">
    <thead>
        <tr>
            <th>#</th>    
            <th>Item Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Item Price</th>
        </tr>
    </thead>
    <tbody>
        {% for order_item in object.items.all %}
        <tr>
            <td scope="row">{{ forloop.counter }}</td>
            <td>{{ order_item.item.title }}</td>
            <td>{{ order_item.item.price }}</td>
            <td>{{ order_item.quantity }}</td>
            <td>
                {% if order_item.item.discount_price %}
                    Shs.{{ order_item.get_total_discount_item_price}}
                    (Saving Shs.{{ order_item.get_amount_saved }})
                {% else %}
                    Shs.{{ order_item.get_total_item_price}}
                {% endif %}
            </td>
        </tr>
        {% endfor %}    
    </tbody>
</table>
{% endblock %}
</body>