<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit = no">
    <title>Sign Up Page</title>
</head>
<body>
    <div class="container">
        <form action="" class="registration" id = "registration">
            <h1>Sign Up Form</h1>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            <label for="username">
				<span>Username</span>
				<input type="text" id="username" minlength="3" required>
				<ul class="input-requirements">
					<li>At least 3 characters long</li>
					<li>Must only contain letters and numbers (no special characters)</li>
				</ul>
            </label>
            <label for="email">
                <span>Email</span>
                <input type="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
            </label>
            <label for="password">
				<span>Password</span>

				<input type="password" id="password" maxlength="100" minlength="8" required>

				<ul class="input-requirements">
					<li>At least 8 characters long (and less than 100 characters)</li>
					<li>Contains at least 1 number</li>
					<li>Contains at least 1 lowercase letter</li>
					<li>Contains at least 1 uppercase letter</li>
					<li>Contains a special character (e.g. @ !)</li>
				</ul>
			</label>

			<label for="password_repeat">
				<span>Confirm Password</span>
				<input type="password" id="password_repeat" maxlength="100" minlength="8" required>
			</label>
			<br>
			<button type = "submit"></button>
        </form>
    </div>
</body>
</html>