<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit = no">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/formstyle.css' %}">
    <title>Sign Up Page</title>
</head>
<body>
    <div class="container">
        <form action="" method="post" class="registration" id = "registration">
            {% csrf_token %}
            <h1>Sign Up Form</h1>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            <label for="username">
				<span>Username</span>
				<input type="text" id="username" name="Username" placeholder="eg alexhunter23" minlength="3" required>
				<ul class="input-requirements">
					<li>Username must conatiain more than 2 characters</li>
					<li>Username must comprise of only letters and numbers ie no [!@#$%^&*] symbols allowed</li>
				</ul>
            </label>
            <label for="email">
                <span>Email</span>
                <input type="email" id="email" name="Email" placeholder="eg alexhunter@gmail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Enter valid email address" required>
            </label>
            <label for="contact">
                <span>Contact</span>
                <input type="tel" id="contact" name="Contact" pattern="[0-9]{10}" title="Contact must be 10 *DIGITS*." required>
            </label> <br>
            <label for="gender">
                <span>Gender: </span>
                <input type="radio" name="Gender" value="Male" required> Male
                <input type="radio" name="Gender" value="Female" required> Female
            </label> <br>
            <label for="location">
                Location
                <select name="Location" id="location">
                    <option value="NULL">-------</option>
                    <option value="Kampala">Kampala</option>
                    <option value="Wakiso">Wakiso</option>
                    <option value="Mukono">Mukono</option>
                </select>
            </label>
            <label for="password">
				<span>Password</span>

				<input type="password" name="Password1"id="password" maxlength="100" minlength="8" required>

				<ul class="input-requirements">
					<li>At least 8 characters long (and less than 100 characters)</li>
					<li>Contains at least 1 number</li>
					<li>Contains at least 1 lowercase letter</li>
					<li>Contains at least 1 uppercase letter</li>
					<li>Contains a special character (e.g. @ !)</li>
				</ul>
			</label>

			<label for="password_repeat">
				<span>Confirm Password</span>
				<input type="password" name="Password2" id="password_repeat" maxlength="100" minlength="8" required>
			</label>
			<br> <br>
			<button type = "submit">Sign Up</button>
            <div>
                <a href="/customers/logout">Log Out</a>
            </div>
        </form>
    </div>
    <script src="{% static 'js/Shujaa.js' %}"></script>
</body>
</html>