body{
    margin:0px;
    padding: 0PX;
}
.Landing{
    background-image: url('./static/img/greybg.jpg');
    height:660px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.NavItem{
    background-color: blue;
}