body {
    margin: 0px;
    padding: 0PX;
}

.HomeScreen {
    background-image: url('./static/img/greybg.jpg');
    height: 658px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.stockCategory {
    color: grey;
}

.NavBar {
    color: whitesmoke;
}

.Login {
    background-image: url('./static/img/Boutique3.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-size: 100% 95%;
    background-color: pink;
}

.FooterPics {
    display: flex;
}

.FooterPics-hover:hover {
    display: flex;
    background-color: grey;
}

.slides {
    display: flex;
}

.SignUp {
    background-image: url('./static/img/Boutique3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 95%;
    background-color: pink;
}

.NavBar1 {
    background: transparent;
}

.NavBar2 {
    background-color: cyan;
}

.NavigationBar {
    color: rgb(223, 16, 195);
}

.galleryPics {
    height: 100%;
    object-fit: cover;
}